@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.icon:hover {
    color: #0062d3;
}

.contact-header::after {
    content: "";
    display: block;
    width: 20%;
    height: 2px;
    background-color: #0062d3;
    margin-top: 1%;
}